	body , html{
		margin:0;
		height: 100%;
		line-height:180% 
		color:#666;
		text-align: center;
	}
	.parallax1{
		background:url("myself.jpg");
		min-height: 100%;
		position: relative;
		opacity: .75;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment:fixed; 
	}
	.parallax2{
		background:url(professional_life.jpg);
		min-height: 60%;
		position: relative;
		opacity: .75;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment:fixed; 
	}
	.parallax3{
		background:url(img_projects.jpg);
		min-height: 70%;
		position: relative;
		opacity: .75;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment:fixed; 
	}
	.parallax4{
		background:url(hello2.jpg);
		min-height: 100%;
		position: relative;
		opacity: .75;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment:fixed; 
	}
	.heading{
		position: absolute;
		color: #fff;
		font-size: 550%;
		top: 38%;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 8px;
		text-shadow: 0 0 10px #000;
		text-align: center;
	}
	.quote{
		position: absolute;
		color: #fff;
		white-space: nowrap;
		font-size: 120%;
		top: 60%;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 8px;
		text-shadow: 0 0 20px #000;
		text-align: center;
	}
	.sub-headdings{
		font-size: 260%;
		font-weight: 2;
		text-align: center;
	}
	.heading-sm{
		position: absolute;
		top:45%;
		width: 100%;
		color: #fff;
		font-size:250%;
		text-transform: uppercase;
		letter-spacing: 5px;
		text-shadow: 0 0 10px #000;
		text-align: center;
	}
	.nav-link{
		font-size: 30px;
	}
	.two-col{
		float: left;
		width:95%;
		padding: 0 4%;
		text-align:left; 
		font-size: 150%;
	}
	.projects{
		position: absolute;
		color: #000;
		font-size: 220%;
		top: 38%;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 8px;
		text-shadow: 0 0 20px #000;
		text-align: center;
		font-size: 50px;
	}
	#Projects{
		font-family: Dancing Script;
	}
	#Professional-life{
		font-family: Shadows Into Light;
	}
	section{
		overflow: auto;
		padding: 50px 80px;
	}
	.head{
		position: fixed;
		top: 5%;
		width: 100%;
		z-index: 10;
		opacity: 0.7;
	}
	.abc{
		text-align: center;
		font-size: 150%;
	}
	#About-Me{
		font-family: Shadows Into Light;
	}
	#social{
		font-family: Caveat;
	}
	.dark{
		overflow: auto;
		padding: 50px 80px;
		background-color:#fff;
		color:#000; 
	}
	.bg{
		background-color: orange;
	}
	.title{
		margin-top: 40px; 
	}
	.title h2 {
		font-weight: bold
	}
	.timeline{
		margin-top:40px;
		margin-bottom: 40px;
		position: relative;
		box-sizing: border-box;
	}
	.timeline::before{
		content: '';
		position: absolute;
		left: 50%;
		width:2px;
		height: 100%;
		background:#c5c5c5;
	}
	.timeline ul{
		margin: 0;
		padding:0;
	}
	.timeline ul li{
		list-style: none;
		position: relative;
		width: 50%;
		padding:20px 40px;
		box-sizing: border-box;
	}
	.timeline ul li:nth-child(odd){
		float: left;
		text-align: right;
		clear: both;
	}
	.timeline ul li:nth-child(even){
		float: right;
		text-align: left;
		clear: both;
	}
	.content{
		padding-bottom: 20px;
		border: 1px solid #eee;
		padding: 10px 10px;
		border-radius: 5px;
		background: #fff;
		text-align: justify;
	}

	@media (max-width: 768px){
		body , html{
			margin:0;
			height: 100%;
			line-height:180% 
			color:#666;
			text-align: center;
		}
		.projects{
			font-size: 150%;
			background-size: cover;
		}
		.heading{
			font-size: 250%;
			text-align: center;
		}
		.quote{
			font-size: 45%;
			left:10%;
		}
		.quote h1{
			font-size: 1.0rem;
		}
		.heading-sm{
			font-size: 180%;
			left:2%;
		}
		.two-col{
			width:100%;
			padding:0;
			text-align: center;
		}
		.head{
			position: fixed;
			top: 5%;
			width: 90%;
			opacity:0.8;
			z-index: 10;
			width: 91%;
		}
	}
